body {
    background-color: hsl(222, 26%, 31%);
    font-family: 'League Spartan';
}
.overall {
    position: fixed;
    left: 35%;
    top: 20%;
    border-style: none;
    width: 350px;
    height: 600px;
}
.top {
    display: inline-flex;
    flex-direction: row;
    color: hsl(0, 0%, 100%);
}
h1 {
    font-size: 9px;
    position: relative;
    left: 195%;
    text-transform: uppercase;
    color: hsl(0, 0%, 100%);
    justify-content: center;
    padding-top: 15px;
}
.selectors {
    position: absolute;
    right: 0;
    top: -5px;
    display: inline-block;
    color: white;
}
.selectors span {
    padding: 4px;
}
.theme {
    position: relative;
    left: 220%;
    width: 55px;
    height: 20px;
    border-radius: 15px;
    background-color: hsl(224, 36%, 15%);
    margin-top: 15px;
}
.choose {
    display: flex;
    flex-direction: row;
}
.circle {
    border-radius: 50%;
    line-height: 13px;
    width: 14px;
    height: 14px;
    margin-right: 4px;
    margin-top: 3px;
}
.circle:hover {
    cursor: pointer;
}
.one {
    margin-left: 4px;
    background-color: hsl(6, 63%, 50%);
}
.two {
    background-color: hsl(25, 98%, 40%);
    opacity: 0;
}
.three {
    background-color: hsl(176, 100%, 44%);
    opacity: 0;
}
.display {
    text-align: right;
    font-size: 30px;
    font-weight: 700;
    border-style: none;
    color: hsl(0, 0%, 100%);
    background-color: hsl(224, 36%, 15%);
    width: inherit;
    min-height: 60px;
    margin-bottom: 20px;
    border-radius: 10px;
}
.all {
    background-color: hsl(223, 31%, 20%);
    border-radius: 7px;
}
.numshow {
    display: grid;
    grid-template-columns: auto auto auto auto;
}
.number {
    font-size: 25px;
    font-weight: 700;
    margin: 8px;
    padding: 3px;
    border-radius: 7px;
    height: 35px;
    width: 65px;
    justify-content: center;
    align-items: center;
    border-style: none;
    color: hsl(221, 14%, 31%);
    background-color: hsl(30, 25%, 89%);
    box-shadow: 0px 3px hsl(28, 16%, 65%);
}
.number:hover {
    cursor: pointer;
    background-color: hsl(10, 25%, 100%);
}
.clear {
    display: grid;
    grid-template-columns: auto auto;
    margin: 10px;
    padding-bottom: 10px;
}
.reset {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 10px 15px 20px 5px;
    border-radius: 8px;
    height: 35px;
    color: hsl(0, 0%, 100%);
    background-color: hsl(225, 21%, 49%);
    box-shadow: 0px 3px hsl(224, 28%, 35%);
    border-style: none;
    grid-column: span 2;
}
.reset:hover {
    cursor: pointer;
    opacity: 0.8;
}
.answer {
    color: hsl(0, 0%, 100%);
    background-color: hsl(6, 63%, 50%);
    box-shadow: 0px 3px hsl(6, 70%, 34%);
    height: 35px;
    margin-top: 10px;
    margin-right: 15px;
    margin-left: 10px;
    border-style: none;
    border-radius: 7px;
    grid-column: span 2;
}
.answer:hover {
    cursor: pointer;
    opacity: 0.8;
}
.del {
    font-weight: 700;
    padding: 3px;
    height: 35px;
    width: 65px;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    text-transform: uppercase;
    border-radius: 7px;
    margin: 8px;
    border-style: none;
    color: hsl(0, 0%, 100%);
    background-color: hsl(225, 21%, 49%);
    box-shadow: 0px 3px hsl(224, 28%, 35%);
}
.del:hover {
    cursor: pointer;
    background-color: hsl(6, 63%, 50%);
    box-shadow: 0px 3px hsl(6, 70%, 34%);
}
@media (max-width:375px) {
    .overall {
        width: 300px;
        height: 100%;
        position: fixed;
        left: 15px;
        top: 15px;
    }
    .number, .del {
        margin: 6px;
        height: 45px;
        width: 55px;
        font-size: 22px;
    }
    .del, .reset, .answer {
        font-size: smaller;
    }
    .reset, .answer {
        height: 45px;
        margin: 6px;
    }
    .all {
        box-sizing: border-box;
        padding: 10px 5px 10px 5px;
    }
    #text2 {
        left: 190%;
    } 
    .theme {
        margin-right: -20px;
    }
    .selectors {
        margin-right: -6px;
    }
}